<aside id="sidebar" class="sidebar" th:fragment="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/appointments">
                <i class="bi bi-upc-scan"></i>
                <span>Punto de Venta</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/appointments">
                <i class="bi bi-calculator"></i>
                <span>Reporte de Ventas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/products">
                <i class="bi bi-basket"></i>
                <span>Productos</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/appointments">
                <i class="bi bi-calendar3"></i>
                <span>Recepción de Mercancía</span>
            </a>
        </li>
    </ul>
</aside>