<div th:fragment="categoryModal">
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="loading-container">
                <div class="modal-content" id="categoryContent">
                    <div class="placeholder-modal"></div>
                </div>
                <div th:replace="~{fragments/common :: loadingIndicator(indicatorId = 'category-loading-indicator')}"></div>
            </div>
        </div>
    </div>
</div>


<div th:fragment="categoriesTable">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Categorias</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div th:replace="~{fragments/common :: message}"></div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.name}"></td>
                    <td th:text="${category.description}"></td>
                    <td>
                        <button hx:get="@{/categories/categoryForm?id={id}(id=${category.id})}" hx-trigger="click"
                            hx-indicator="#category-loading-indicator" hx-target="#categoryContent" hx-swap="innerHTML"
                            class="btn btn-outline-secondary rounded-circle btn-sm">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-outline-danger rounded-circle btn-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" hx:get="@{/categories/categoryForm}"
            hx-trigger="click" hx-indicator="#spinner" hx-target="#categoryContent" hx-swap="innerHTML">Nueva
            Categoria</button>
    </div>
</div>


<div th:fragment="categoryForm">
    <form novalidate th:object="${category}"
        hx:put="@{/categories}" hx-swap="innerHTML" hx-target="#categoryContent"
        hx-indicator="#category-loading-indicator">
        <div class="modal-header">
            <h1 class="modal-title fs-5">Editar Categoria</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div th:replace="~{fragments/common :: message}"></div>
            <input hidden th:field="*{id}" />
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid': ''" id="name" aria-describedby="nameHelp" th:field="*{name}"
                    required>
                <div class="invalid-feedback">
                    Por favor ingrese el nombre de categoria.
                </div>
                <div id="nameHelp" class="form-text">El cambio de nombre afecta a todos los productos de esta categoría.
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Descripcion</label>
                <input type="text" class="form-control" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid': ''" id="description" th:field="*{description}" required>
                <div class="invalid-feedback">
                    Por favor ingrese una descripcion a la categoria.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
    </form>
</div>