<div th:fragment="productsTable" id="product-table">
    <div th:replace="~{/fragments/products :: header}"></div>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Nombre del Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Costo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Status</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td scope="row">
                    <div class="d-flex align-items-center justify-content-start">
                        <img src="assets/img/productos.png" alt="Product Image"
                            class="img-thumbnail rounded product-image" />
                        <span class="d-none d-md-block ps-2" th:text="${product.name}">Apple Watch S3</span>
                    </div>
                </td>
                <td th:text="${product.price}">RD$2,750.00</td>
                <td th:text="${product.quantity}">27</td>
                <td th:text="${product.cost}">RD$1,900.00</td>
                <th th:text="${product.category}">Accesorios</th>
                <td><span class="badge text-bg-primary" th:text="${product.status}">Activo</span></td>
                <td>
                    <a th:href="@{/products/{id}(id=${product.id})}" type="button"
                        class="btn btn-outline-secondary btn-sm rounded-circle">
                        <i class="bi bi-three-dots-vertical"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:replace="~{/fragments/common :: pagination (baseUrl = '/products/fetchProducts')}"></div>
</div>


<div class="row" th:fragment="header">
    <form hx-swap="outerHTML"
          hx-target="#product-table"
          hx:get="@{/products/fetchProducts?page=0&size={size}(size=${pageSize})}" class="col">
        <div class="d-flex col justify-content-start">
            <span class="p-input-icon-left">
                <input name="query" class="form-control" th:value="${query}" placeholder="Buscar productos" />
            </span>
            <button class="btn btn-primary mx-2" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
    <div class="d-flex col justify-content-end">
        <button class="btn btn-outline-secondary mx-2" data-bs-toggle="modal" data-bs-target="#categoryModal">
            <i class="bi bi-card-checklist"></i> Gestionar Categorias
        </button>
        <button class="btn btn-primary"><i class="bi bi-bag-plus"></i> Crear producto</button>
    </div>
    <div th:replace="~{/fragments/categories :: categoryModal}"></div>
</div>