<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Acceder - AdventurePOS</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />

    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
    <main>
        <div class="container">
            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">
                                            <div class="d-flex justify-content-center">
                                                <a href="/signIn" class="logo d-flex align-items-center w-auto">
                                                    <img src="assets/img/logo2.png" alt="" />
                                                </a>
                                            </div>
                                        </h5>
                                    </div>
                                    <div th:if="${param.error}" class="alert border-danger alert-dismissible fade show"
                                        role="alert">
                                        <i class="text-danger bi bi-exclamation-octagon me-1"></i>
                                        Usuario o contraseña invalidos
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    <form class="row g-3 needs-validation mt-1" th:action="@{/login}" method="POST"
                                        novalidate>
                                        <div class="col-12">
                                            <label for="username" class="form-label">Nombre de usuario</label>
                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                <input type="text" th:name="username" class="form-control" id="username"
                                                    required />
                                                <div class="invalid-feedback">
                                                    Por favor ingrese su nombre de usuario.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="password" class="form-label">Contraseña</label>
                                            <input type="password" th:name="password" class="form-control" id="password"
                                                required />
                                            <div class="invalid-feedback">
                                                ¡Por favor ingrese su contraseña!
                                            </div>
                                        </div>

                                        <div class="col-12" x-data="{ loading: false }">
                                            <button class="btn btn-primary w-100" type="submit" x-on:click="loading = true" x-bind:disabled="loading">
                                                <span x-show="loading == false">Acceder</span>
                                                <span class="spinner-border spinner-border-sm" aria-hidden="true"
                                                    x-show="loading"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="credits">
                                Powered by
                                <a href="https://bytetechsolutions.com/">Bytetech Solutions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>